{% extends 'base.html' %}
{% block content %}

<div class="preview-single">
	<div class="card-frame">
		<img class="lazyload" src="{{site_url()}}assets/images/back.jpg" data-src="{{card.url}}">
	</div>
<div class="info">
	</div>
		<div class="oracle">
<div class="card-title">			
<h4 class="card-name">{{card.name}}</h4>
<h5 class="card-cost">{{card.cost}}</h5></div>
<h5 class="card-type"><i>{{card.type}}</i></h5>
<h5 class="oracle-text">{{card.text | raw}}</h5>
		</div>
			</div>
				</div>
<script type="text/javascript" src="{{site_url('assets/js/replace.js')}}" ></script>				
{% endblock %}